:not(:defined) {
  visibility: hidden;
}

:root {
  --content-width: 88vw;
  --color-picker: #8686863f;
}

html {
  font-family: 'Inter Display', Inter, system-ui, sans-serif;
  font-weight: normal;
  -webkit-user-drag: none;
  user-select: none;
  -webkit-user-select: none;
}

body {
  overflow: hidden !important;
}

mdui-text-field {
  margin-bottom: 12px;
}

.ads {
  font-weight: bold !important;
  font-size: large !important;
  color: #ffffff !important;
  background-color: red !important;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  z-index: 114515;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  pointer-events: none;
  display: none;
}

.container-lt {
  position: fixed;
  top: calc((100vw - var(--content-width)) / 2);
  left: calc((100vw - var(--content-width)) / 2);
  width: auto;
}

.container-rt {
  position: fixed;
  top: calc((100vw - var(--content-width)) / 2);
  right: calc((100vw - var(--content-width)) / 2);
  width: auto;
}

.container-c {
  display: flex;
  flex-direction: column;
  width: var(--content-width);
  height: 86vh;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.dialog-line {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.dialog-input {
  width: 100vw !important;
}

.padding-sv {
  padding-top: 6px;
  padding-bottom: 6px;
}

.padding-lv {
  padding-top: 18px;
  padding-bottom: 18px;
}

.compact {
  margin-top: -12px !important;
}

.hint {
  color: gray;
  font-size: small;
}

.to-right {
  text-align: right;
  justify-content: end;
  float: right;
}

.crypto {
  font-family: ui-monospace,
    'Cascadia Code',
    'Source Code Pro',
    Menlo,
    Consolas,
    'DejaVu Sans Mono',
    monospace;
}

.inline-logo {
  padding-left: 2px;
  padding-right: 2px;
  display: inline-block;
  height: 1em;
  width: auto;
}

.proxy {
  position: fixed;
  bottom: 0;
  right: 0;
  opacity: 0;
  pointer-events: none;
  z-index: -114514;
}

#fullscreen-cover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 114514;
  opacity: 1;
  transition: opacity 0.5s cubic-bezier(0.79, 0, 0.15, 1);
  pointer-events: none;
}

#fullscreen-cover.hidden {
  opacity: 0;
}

#opensource {
  background-image: url("/icons/github-mark.svg");
  background-size: 100% 100%;
}

#subversion {
  color: grey;
  font-size: small;
}

@media (prefers-color-scheme: dark) {
  .inline-logo {
    filter: invert(1);
  }
}